<!DOCTYPE html>
<html>

<head>
    <title>Smart Budget Planner</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 40px;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin: 10px 0;
        }
    </style>
</head>

<body>
    <h1>Welcome to Smart Budget Planner</h1>
    <form action="/add" method="post">
        <input type="text" name="name" placeholder="Expense Name" required>
        <input type="number" step="0.01" name="amount" placeholder="Amount" required>
        <select name="category_id">
            <option value="">Select Category</option>
            {% for category in categories %}
            <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select>
        <input type="date" name="date" required>
        <button type="submit">Add Expense</button>
    </form> <br>
    <section>
        Looking for specific transaction ? <a href="{{ url_for('search') }}">Type Here</a>
    </section>

    <h2>Expenses:</h2>
    <ul>
        {% for expense in expenses %}
        <li>{{ expense.name }}: ${{ expense.amount }} - {{ expense.category_name }} on {{ expense.date }}</li>
        {% endfor %}
    </ul>

    <section>
        <h2>Expense Distribution Chart</h2>
        <img src="{{ url_for('expense_chart') }}" alt="Expense Distribution Chart">
    </section>

    <section>
        <h2>More Reports</h2>
        <a href="{{ url_for('monthly_summary') }}">View Monthly Summary</a> |
        <a href="{{ url_for('forecast_expenses') }}">Forecast Expenses</a>
    </section>

</body>

</html>