<!DOCTYPE html>
<html>

<head>
    <title>Smart Budget Planner</title>
</head>

<body>
    <h1>Welcome to Smart Budget Planner</h1>
    <form action="/add" method="post">
        <input type="text" name="name" placeholder="Expense Name" required>
        <input type="number" step="0.01" name="amount" placeholder="Amount" required>
        <select name="category_id">
            <option value="">Select Category</option>
            {% for category in categories %}
            <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select>
        <input type="date" name="date" required>
        <button type="submit">Add Expense</button>
    </form>
    <h2>Expenses:</h2>
    <ul>
        {% for expense in expenses %}
        <li>{{ expense[1] }}: ${{ expense[2] }}</li>
        {% endfor %}
    </ul>
    <section><img src="{{ url_for('expense_chart') }}" alt="Expense Distribution Chart"></section>

</body>

</html>